@model ServisRacunara.Web.ViewModels.KlijentViewModel

<h2>Izmena klijenta</h2>

<form method="post">

    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label>Ime</label>
        <input asp-for="Ime" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Prezime</label>
        <input asp-for="Prezime" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Telefon</label>
        <input asp-for="Telefon" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">
        Sačuvaj izmene
    </button>

</form>